@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Personalização do menu de opções das telas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkred;
  font-family: 'Open Sans', sans-serif;
}

#menu-h{
  width: 100%;
  list-style: none;
  padding: 0;
  background-color: black;
}

#menu-h li{
  display: inline;
  background-color: black;
  cursor: pointer;
}

#menu-h li a{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  background-color: black;
  transition: background .5s;
  font-weight: bolder;
  font-size:medium;
  color: darkred;
}

#menu-h li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
/* Personalização do menu de opções das telas */

/* Personalização do Formulário de Cadastro */
.form_pg {
  max-width: 300px;
  width: 100%;
  height: 230px;
  padding: 10px;
  transform: translate(-50%, -50%);
  top: 48%;
  left: 40.5%;
  position: absolute;
  text-align: center;
}

.form_iten {
  max-width: 250px;
  width: 100%;
  height: 230px;
  padding: 10px;
  background-color: darkred;
  transform: translate(-50%, -50%);
  top: 49.8%;
  left: 130%;
  position: absolute;
  text-align: center;
}
/* Personalização do Formulário de Cadastro */

/* Personalização do Formulário de Cadastro (textbox's)*/
form input[type="text"]{
  max-width: 200px;
  width: 100%;
  padding: 5px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0;
  background-color: lightgray;
  border-radius: 10px;
  border-color: black;
}
/* Personalização do Formulário de Cadastro (textbox's)*/

/* Personalização do Formulário de Cadastro (Botão Cadastrar)*/
input[type="submit"]{
  max-width: 170px;
  width: 100%;
  padding: 5px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: 0; 
  background-color: black;
  transform: translate(-50%, -50%);
  top: 125%;
  left: 131.5%;
  position: absolute;
  text-align: center;
  border-color: lightgray;
  font-size: large;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
/* Personalização do Formulário de Cadastro (Botão Cadastrar)*/

/* Edição da legenda apoio */
label{
  text-align: center;
  font-size: large;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Edição da legenda apoio */
